


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ TPHCM THÔNG BÁO</title>
</head>

<body>

    <script type="text/javascript">
        var result = confirm("Bạn có thực sự muốn thoát khỏi phiên đăng nhập hiện tại không?");
        if (result == true) {
            location.href = "/Account/Login";
        }
        else {
            location.href = "/Account/Index";
        }
    </script>
</body>

