
@{
    ViewData["Title"] = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="login">
    <div>
        <a class="hiddenanchor" id="change"></a>
        <h1>
            <div id="logo">
                <center><small><img src="~/asset/build/images/hutech.jpg" alt="" class="img-fluid"></small></center>
            </div>
        </h1>

        <div class="login_wrapper">
            <div class="animate form changepass_form" id="change">
                <section class="login_content">
                    <form>
                        <h1> ĐỔI MẬT KHẨU </h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Mssv" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" required="" />
                        </div>
                        <div>
                            <a href="login.html" class="to_change"> THAY ĐỔI MẬT KHẨU </a>
                        </div>
                        <div>
                            <p>©2021 ĐẠI HỌC CÔNG NGHỆ THÀNH PHỐ HỒ CHÍ MINH</p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>


